.flexNavigator {
	height: 100%;
	padding: 30px;
	padding-left: 55px;
}

.homeLink {
	font-size: 23px;
	font-family: serif;
	color: black;
	text-decoration: none;
	letter-spacing: 1px;
}

.parentLink {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.childLink {
	margin-left:20px;
}

.selectedChild {
	margin-left:20px;
	color: blue;
	text-decoration: underline;
	padding-left:20px;
}

.footer {
    position: absolute;
    left: 0;
	right: 0px;
    bottom: 0px;
	padding-bottom:10px;
	padding-right: 10px;
}

.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-left: 55px;
	padding-bottom:10px;
}